/* Source: https://fonts.google.com/specimen/Ubuntu */
@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu.ttf');
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Ensure font is inherited EVERYWHERE
html, input, button, textarea {
  font-family:
  'Ubuntu',
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
}