/* Custom Fonts */
// Source: https://fonts.google.com/specimen/League+Spartan
@font-face {
  font-family: 'League Spartan';
  src: url('assets/fonts/Ubuntu.ttf');
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Colour Scheme */
:root {
  --primary: rgb(212, 223, 231);
  --secondary: rgb(24, 24, 24);
  --accent-1: rgb(44, 62, 80);

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(191, 184, 227, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
}

// Light mode 
:root {
  --color-background: var(--vt-c-white);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--accent);
  --color-text: var(--accent);
}

// Dark mode 
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--secondary);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--primary);
    --color-text: rgba(192, 218, 251, 0.75); // ~ lightsteelblue
  }
}

html {
  font-family:
  'League Spartan',
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a { 
  text-decoration: none; 
  color: inherit;
}

@mixin transition-ease {
  opacity: 0.8;
  transform: translateY(0.05em);
  transition: all 0.2s ease-in-out;
}

body {
  min-height: 100vh;
  // color: lightgray;
  // color: rgba(lightslategray, 0.5);
  // color: rgba(lightsteelblue, 0.75);
  // color: rgba(lightcyan, 0.5);

  color: var(--color-text);
  background: var(--color-background); 

  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./assets/bkgd.jpg') no-repeat center center/cover;
  z-index: -1; /* Ensure it’s behind the content */
  opacity: 0.02; /* Adjust opacity */
  // filter: brightness(500%); /* Add filters here */
  transition: opacity 0.5s, filter 0.5s;
}

#app {
  max-width: 1280px !important;
  margin: 0 auto !important;
  padding: 2rem !important;
}

a,
.green {
  text-decoration: none;
  color: #5271FF;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(190, 79, 66, 0.3) !important;
    border-radius: 50px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
