// /* Custom Fonts */
// // Source: https://fonts.google.com/specimen/League+Spartan
// @font-face {
//   font-family: 'League Spartan';
//   src: url('https://static.igem.wiki/teams/5118/fonts/leaguespartan.woff2') format('woff2');
//   font-stretch: ultra-expanded;
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// // Source: https://www.whatfontis.com/FF_QUARTZO-demo-Bold.font?text=BovEco
// @font-face {
//   font-family: 'Quartzo';
//   src: url('https://static.igem.wiki/teams/5118/fonts/quartzo.woff2') format('woff2');
//   font-stretch: ultra-expanded;
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// /* Colour Scheme */
// $primary: white;
// $secondary: rgba(29, 30, 29, 0.639);
// $accent-1: rgb(101, 146, 109);
// $accent-2: rgb(99, 144, 119);
// $accent-3: rgb(215, 200, 176);
// $accent-4: rgb(165, 149, 123);

// $lnd: rgb(151, 200, 216);
// $mnm: rgb(146, 81, 146);
// $hp: rgb(99, 183, 144);

// $accent-gradient-1: linear-gradient(
//   45deg,
//   rgba($accent-1, 0.8),
//   rgba($accent-2, 0.7),
//   rgba($primary, 0.6)
// );

// $accent-gradient-2: linear-gradient(
//   45deg,
//   rgba($accent-3, 0.8),
//   rgba($accent-4, 0.7),
//   rgba($primary, 0.6)
// );


// html {
//   font-family: 'League Spartan', 'Roboto', system-ui, sans-serif;
//   overflow-x: hidden; // for Clouds.astro
// }

// *, *::before, *::after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   scroll-behavior: smooth;
// }

// img, picture, svg, video {
//   display: block;
//   max-width: 100%;
//   max-height: 100%;
// }

// a { 
//   text-decoration: none; 
//   color: inherit;
// }

// @mixin transition-ease {
//   opacity: 0.8;
//   transform: translateY(0.05em);
//   transition: all 0.2s ease-in-out;
// }

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background); 
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./assets/bkgd.jpg') no-repeat center center/cover;
  z-index: -1; /* Ensure it’s behind the content */
  opacity: 0.02; /* Adjust opacity */
  filter: brightness(500%); /* Add filters here */
  transition: opacity 0.5s, filter 0.5s;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #5271FF;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(12, 192, 223, 0.3);
    border-radius: 50px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
